.dark {
    background: #363636;
    height: 100vh;
    min-height: 100%
}

.dark-text {
    color: aliceblue;
    font-weight: 700;
}

.red {
    background: #e06e6e;
    height: 100vh;
    min-height: 100%
}

.red-text {
    color: #80e185;
    font-weight: 700;
}

.white {
    background: #ffffff;
    height: 100vh;
    min-height: 100%
}

.white-text {
    color: #232323;
    font-weight: 700;
}

.main {
    margin-left: 15px;
}